
<!DOCTYPE html>
<html>
<head>
<title>Calorie Tracker</title>
</head>
<body>
<h1>Calorie Tracker</h1>
<form action="/add_meal" method="post">
<label for="name">Meal Name:</label>
<input type="text" name="name" id="name">
<br>
<label for="calories">Calories:</label>
<input type="number" name="calories" id="calories">
<br>
<label for="date">Date:</label>
<input type="date" name="date" id="date">
<br>
<input type="submit" value="Add Meal">
</form>
<br>
<h2>Meal History</h2>
<table>
<thead>
<tr>
<th>Meal Name</th>
<th>Calories</th>
<th>Date</th>
</tr>
</thead>
<tbody>
{% for meal in meals %}
<tr>
<td>{{ meal.name }}</td>
<td>{{ meal.calories }}</td>
<td>{{ meal.date }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>


